/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');

* {
    margin: 0;
    padding: 0;
    font-size: 10px;
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    text-align: center;
    padding: 2rem 10rem 0px 10rem;
    display: flex;
    flex-direction: column;

}

h1 {
    font-family: "MedievalSharp", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 8rem;
}
h1~span {
    color: red;
    font-size: 2rem;
}


.battle {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: blue;
}

.player-section {
    display: flex;
}
.player-section .action-bar {
    display: flex;
    flex-direction: column;
}
.action-bar .skill-btn {
    padding: 3.2rem;
    cursor: pointer;
}