/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-size: 10px;
    box-sizing: border-box;
    font-family: "MedievalSharp", cursive;

    --fontColor: #f0f8ff;
}
body {
    min-height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)) */
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(42, 38, 38, 0.6)), url('./images/DALLE\ Lavander\ Plain.webp');
    background-size: cover;
}
.container {
    max-width: 40vw;
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 8rem;
    color: var(--fontColor);
}
h1~span {
    color: var(--fontColor);
    text-shadow: rgb(22, 22, 22, 0.5) 2px 2px 1px;
    font-size: 2rem;
    font-style: normal;
    margin: 1.8rem 0px 4rem 0px;
}


/* ---------- BATTLE-ZONE CSS ---------- */
.battle-zone {
    display: flex;
    width: 100%;
    justify-content: space-between;

    border: 8px double rgb(24, 22, 56);
    background-color: rgb(205, 155, 39, 0.2);
    border-radius: 10px;
    padding: 2rem;
    color: var(--fontColor);
}
.player-side, .enemy-side {
    display: flex;
    flex-direction: column;

}
.side-name {
    font-family: 'Play';
    font-style: normal;
    font-weight: 400;
    margin-top: 1rem;
    /* IMAGE IS SCALING WITH THIS FONT-SIZE, AAAAAAA */
}

.word-challenge {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: auto;
}

.word-challenge .enemy-phrase {
    font-size: 2.5rem;
    font-style: italic;
    text-shadow: rgb(22, 22, 22) 2px 2px 1px;
}

.word-challenge .word-slot {
    font-size: 6rem;
    font-style: italic;
    margin-top: 0.5rem;
    color: black;
    text-shadow: rgb(84, 21, 136) 1px 0 10px;
}

.player-input>input {
    border: none;
    border-bottom: 2px solid black;
    background-color: transparent;
    font-size: 2rem;

    text-align: center;
}
.player-input>input:focus {
    outline: none;
}
#confirm-btn {
    font-size: 1.5rem;
    padding: 0px 1rem;
    cursor: pointer;
}



/* ---------- BATTLE-ZONE CSS ---------- */

.combat-log {
    width: 80%;
    height: 200px;
    /* background-color: rgb(250, 250, 241); */
    /* border: 3px solid rgb(229, 229, 229); */
    border: 8px double rgb(24, 22, 56);
    background-color: rgb(205, 155, 39, 0.2);
    border-radius: 10px;
    border-radius: 5px;
    margin-top: 20px;
}

/* Media Queries */
@media (max-width: 960px) {
    .container {
        max-width: 80vw;
    }
}

/* Animations & Keyframes */
@keyframes enemyAni {
    0% { transform: skew(0deg, 0deg); }
    50% { transform: skew(4deg, -2deg); }
    100% { transform: skew(0deg, 0deg); }
}

@keyframes playerAni {
    0% { transform: skew(0deg, 0deg); }
    50% { transform: skew(-4deg, 2deg); }
    100% { transform: skew(0deg, 0deg); }
}

#enemy {
    animation: enemyAni 4s infinite;
}

#player {
    animation: playerAni 4s infinite;
}
