/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');

* {
    margin: 0;
    padding: 0;
    font-size: 10px;
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.container {
    max-width: 40vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-family: "MedievalSharp", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 8rem;
}
h1~span {
    color: red;
    font-size: 2rem;
}


/* ---------- BATTLE-ZONE CSS ---------- */
.battle-zone {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 8rem;

    background-color: beige;
    border: 2px solid rgb(229, 229, 229);
    border-radius: 5px;
    padding: 20px;
}
.player-side, .enemy-side {
    display: flex;
    flex-direction: column;

}
.player-info span {
    /* IMAGE IS SCALING WITH THE FONT-SIZE, AAAAAAA */
}

.word-challenge {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: auto;
}

.word-challenge>span {
    font-size: 2rem;
}

.word-challenge .word-slot {
    font-family: "MedievalSharp", cursive;
    font-size: 6rem;
    font-style: italic;
    margin-top: 0.5rem;
}

.player-input>input {
    border: none;
    border-bottom: 2px solid black;
    background-color: transparent;
    font-size: 2rem;
    font-family: "MedievalSharp", cursive;
    text-align: center;
}
.player-input>input:focus {
    outline: none;
}
#confirm-btn {
    font-size: 1.5rem;
    padding: 0px 1rem;
    cursor: pointer;
}



/* ---------- BATTLE-ZONE CSS ---------- */

.combat-log {
    width: 80%;
    height: 200px;
    background-color: rgb(250, 250, 241);
    border: 3px solid rgb(229, 229, 229);
    border-radius: 5px;
    margin-top: 20px;
}

/* Media Queries */
@media (max-width: 960px) {
    .container {
        max-width: 80vw;
    }
}

/* Animations & Keyframes */
@keyframes enemyAni {
    0% { transform: skew(0deg, 0deg); }
    50% { transform: skew(4deg, -2deg); }
    100% { transform: skew(0deg, 0deg); }
}

@keyframes playerAni {
    0% { transform: skew(0deg, 0deg); }
    50% { transform: skew(-4deg, 2deg); }
    100% { transform: skew(0deg, 0deg); }
}

#enemy {
    animation: enemyAni 4s infinite;
}

#player {
    animation: playerAni 4s infinite;
}
